{% extends 'sysadmin/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block main %}
    <div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="card p-4 border-primary">
                    <div class="d-flex flex-row align-items-end justify-content-between">
                        <div style="flex: 2">
                            <h4 class="card-title">{% block register_header %}{% endblock register_header %}</h4>
                        </div>
                        <div style="flex: 1">
                            <img src="{% static 'logos/logo1.png' %}" class="img-fluid align-self-start" width="40%">
                        </div>
                        <hr>
                    </div>
                        <div class="card-body">
                            <form action="" method="POST">
                                {% csrf_token %}
                                {% crispy form %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
