<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<!-- Start of Nav Section -->
<a href="{% url 'commons:admin-home' %}">Home</a> |
{% if request.user.csr %}
    <a href="">{{ request.user.username }} >> Profile</a> |
    <a href="{% url 'commons:add-booth' %}">Add Booth</a> |
    <a href="">Update Booth</a> |
    <a href="{% url 'commons:add-booth-mngr' %}">Add Booth Manager</a> |
    <a href="">Update Booth Manger</a> |
    <a href="">Add Bike</a> |
    <a href="">Update Bike</a> |
    <a href="">Add Car</a> |
    <a href="">Update Car</a> |
    <a href="{% url 'commons:logout' %}">Logout</a>  |
{% else %}
    {% include '404.html' %}
{% endif %}
<hr>
<!-- End of Nav Section -->

{% block main %}

{% endblock main %}
</body>
</html>

