{% extends 'bmgr/base.html' %}

{% block title %}Manage All Reserve Request | Booth Manager{% endblock title %}

{% block page_operation %}
Manage All Reserve Request
{% endblock page_operation %}
{% block main %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

       <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">All Reserve Request</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Request</th>
                            <th>Request Date</th>
                            <th>Status</th>
                            <th>Reserve Period (days)</th>
                            <th>Customer Name</th>
                            <th>Vehicle Id</th>
                            <th>Borrow Date</th>
                            <th>Expected Return Date</th>
{#                            <th>Returned Date</th>#}
                            <th>Initial Payment Recieved</th>
                            <th>Fine</th>
                            <th>Total</th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for vreq in object_list %}
                        <tr>
                            <td>#Request_{{ vreq.id }}</td>
                            <td>{{ vreq.requested_date }}</td>
                            {% if vreq.status == 'INPROGRESS' %}
                            <td class="badge badge-info badge-pill mt-2">{{ vreq.status }}</td>
                            {% elif vreq.status == 'GRANTED' %}
                                <td class="badge badge-success badge-pill mt-2">{{ vreq.status }}</td>
                            {% elif vreq.status == 'DENIED' %}
                                <td class="badge badge-danger badge-pill mt-2">{{ vreq.status }}</td>
                            {% elif vreq.status == 'CANCELLED' %}
                                <td class="badge badge-warning badge-pill mt-2">{{ vreq.status }}</td>
                            {% endif %}
                            <td>{{ vreq.reserv_period }}</td>
                            <td>{{ vreq.customer.user.username }}</td>
                            <td>{{ vreq.vehicle_id }}</td>
                            <td>{{ vreq.reservation.borrow_date }}</td>
                            <td>{{ vreq.reservation.expected_return_date }}</td>
{#                            <td>{{ vreq.reservation.return_date }}</td>#}
                            <td class="text-success font-weight-bold">{{ vreq.reservation.pre_payment }}</td>
                            <td class="text-danger font-weight-bold">{{ vreq.reservation.fine }}</td>
                            <td class="text-primary font-weight-bold">{{ vreq.reservation.total }}</td>
                        </tr>
                        {% empty %}
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
