{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Register Customer{% endblock title %}

{% block main %}
    <div>
        <h4>Customer Register Here</h4>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                <form action="" method="POST">
                    {% csrf_token %}
                    {% crispy form %}
{#                    <button type="submit" class="btn btn-primary">SignUp</button>#}
                </form>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
